body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}
* {
    box-sizing: border-box
}


.beforebeforesignin-page{
    display: flex;
    align-items: center;
    justify-content: center;

}
/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightgrey;
}
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
    background-color: #829ca5;
    color: lightgrey;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity: 1;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
    margin-bottom: 0%;
}
/* Add padding to container elements */
.container {
    padding: 16px;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}
div[class*="-page"] {
    display: none;
}

form {

    width: 100%;
    background-color: #343a40;
    border: 5px hidden #343a40;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);

    position: relative;
    opacity: 0.8;
    margin: 2% auto;
 
    
    }

#title {
    margin-top: 100px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color:lightseagreen;
    background: black ;
    text-align: center;
    opacity: 0.85;
    border-radius:45%;
}

.text{
    text-align: center;
    margin-top: 10px
}
label {
    margin-left: 10px;
    color: grey;
}
footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height:50px;  
    background: #343a40;
    color: grey;
    text-align: center;
    font-weight: bold;
    padding-top:10px;
    display: flex;
  position: fixed;
}
#form-header{
    font-weight: bold;
    color: grey;
    background-color: #343a40;
    padding-top: 10px;
}
.div-wrapper {
    /* min-height: calc(100vh - 50px); */
    height
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100
}
.background-video {
    min-width: 100%; 
    min-height: 100%;     
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#pause,#play {
    font-size: x-small;
    text-align: center;
    background: #343a40;
}
.button-wrap {
    width: 5%;
    margin: 0 auto;
    position:absolute;
    top:0;
    right:0;
    float: left;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: lightgrey;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: x-large;
}
























/********************************************************** page2***************************************************/
/* Answer display */

 .post.active {
    margin: 2px auto;
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://canadaumsonhoadois.files.wordpress.com/2016/06/13417571_1120451708016952_3252951837867309885_n.jpg?w=640')no-repeat white;
    background-size: cover;
    color: whitesmoke; 
    text-align: center;
    box-sizing: border-box;
    border: 2px dotted salmon;
    border-radius:  50px; 
    opacity: 0.9;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    display: block;
    

}

.post {

    margin: 2px auto;
    width: 50vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://canadaumsonhoadois.files.wordpress.com/2016/06/13417571_1120451708016952_3252951837867309885_n.jpg?w=640')no-repeat white;
    background-size: cover;
    color: whitesmoke; 
    text-align: center;
    box-sizing: border-box;
    border: 2px dotted salmon;
    border-radius:  50px; 
    opacity: 0.9;
    filter: alpha(opacity=70);
    display: none;

}
.aftersignin-page {

 width: 100vw;
 height: 100vh;
  background: url(../assets/images/jumping_silhouette_group_of_people_cat_sea_reflection-176783.jpg!d);
    background-size: cover;
    overflow: auto; 
}

#logout{
    font-family: 'Archivo Black', sans-serif;
    width: 10%;
    float: right;
    margin: 10px;
}


#suprise-me {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    height: 85px;
    opacity: 0.85;
    border-radius: 50%;
    background:lightseagreen;
    color: black;

}

#suprise-me:hover {
background:red;



}

#next-option {
    display:flex;
    justify-content:center;
    align-items: center;
    width: 20%;
    margin: 5px auto;
    border-radius: 45%;
}

#next-option:hover{
    background: blue;
}
.fa-arrow-circle-right{
    font-size: 40px;
  }

  #gift{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

  }
  .fa-gift {
      font-size: 50px;

  }


  @media only screen and (max-width: 600px) {

#logout{
    float: none;
    margin:2px auto;
    width: 100%;
}

#suprise-me{
    width: 100%;
}

#pause {
display: none;
}

#play {
   display: none;
}


  }


